body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

#player-container {
    position: relative;
    width: 80%;
    max-width: 800px;
}

#video {
    width: 100%;
    height: auto;
}

#loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
}
